$background-color: #a7a4e6;
$video-chat-background-color: rgb(33, 33, 33);
$main-border-color: rgb(67, 67, 67);
$main-color: rgb(115, 35, 164);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	width: 100%;
	display: flex;
	font-family: 'Roboto', sans-serif;
	background-color: $background-color;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;

	.join_wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
		min-width: 350px;
		padding: 20px 25px;
		border-radius: 10px;
		box-shadow: 5px 5px 10px rgb(61, 61, 61);
		background: none;
		color: white;
		background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);

		h2 {
			margin-top: 20px;
			margin-bottom: 15px;
		}

		.join_wrapper__my_peer_id {
			margin: 10px 0;
			width: 100%;
			.join_wrapper__my_peer_id__title {
				font-size: 13px;
			}
		}

		.input_wrapper {
			display: flex;
			flex-direction: column;
			width: 100%;
			margin: 10px 0;
			.input_wrapper__title {
				margin-bottom: 5px;
				font-size: 14px;
				color: white;
			}
			.input_wrapper__in {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				border-radius: 3px;
				background-color: rgb(254, 254, 254);
				i {
					margin: 0 5px;
					color: $background-color;
				}
				input {
					flex-grow: 1;
					min-height: 45px;
					border: none;
					background: transparent;
					&:focus {
						outline: none;
					}
				}
			}
		}

		.connect_button {
			width: 100%;
			margin-top: 20px;
			border: none;
			border-radius: 3px;
			padding: 15px 0;
			color: #383838;
			background-color: white;
			cursor: pointer;
		}
	}

	.video_chat_wrapper {
		display: none;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		background-color: $video-chat-background-color;

		.first_box {
			width: 100%;
			color: white;
			border-bottom: 1px solid $main-border-color;
			h1 {
				margin: 10px;
				font-size: 22px;
			}
		}
		.second_box {
			display: flex;
			flex-direction: row;
			width: 100%;
			flex-grow: 1;
			.video_wrapper {
				display: flex;
				flex-direction: column;
				flex-grow: 1;
				video {
					margin: 10px;
					width: 400px;
					height: 400px;
					background-color: rgb(106, 106, 106);
				}
			}
			.chat_wrapper {
				display: flex;
				flex-direction: column;
				min-width: 350px;
				border-left: 1px solid $main-border-color;
				.chat_wrapper__section_title {
					color: white;
					width: 100%;
					background-color: $main-color;
					p {
						margin: 10px 10px;
						font-size: 18px;
					}
				}
				.chat_wrapper__section_messages {
					flex-grow: 1;
					width: 100%;
					list-style-type: none;
					color: white;
					li {
						margin: 10px;
						padding: 5px 10px;
						border-radius: 30px;
						background-color: #764ba2;
					}
				}
				.chat_wrapper__section_enter {
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: flex-start;
					margin: 10px 10px;
					padding: 10px 0;
					border-radius: 30px;
					background-color: rgb(96, 96, 96);
					input {
						flex-grow: 1;
						margin-left: 10px;
						color: white;
						border: none;
						background-color: transparent;
						&:focus {
							outline: none;
						}
					}
					i {
						margin-right: 15px;
						padding: 5px;
						transition: color 0.3s;
						color: white;
						cursor: pointer;
						&:hover {
							color: $main-color;
						}
					}
				}
			}
		}
	}
}
